<section class="comments" id="comment-section">
    <hr>
    {% for item in site.qts reversed %}
      {% include qt_post.html is_reply=false uid=item._id email=item.email name=item.name url=item.url date=item.date message=item.content %}
    {% endfor %}

    <!-- New comment form -->
    <div id="respond" class="comment__new">
      {% include qt_comment_form.html %}
    </div>
  </section>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ '/assets/main.js' | relative_url }}"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
